.list-item{
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #ffffff5a;
}

.list-item:hover{
    -fx-background-color: #444;
    -fx-text-fill: -fx-primary-color;
}

.list-item-main{
    -fx-pref-height: 50;
}

.list-item-secondary{
    -fx-pref-height: 35;
}

.bt-quina-nova{
    -fx-background-color: #3d424b;
    -fx-text-fill: #fff;
    -fx-min-height: 40;
    -fx-background-radius: 0 0 25 25;
}

.bt-quina-nova:hover{
    -fx-background-color: #666;
}

.categoria{
    -fx-font-family: "Open Sans";
    -fx-text-fill: #fff;
    -fx-font-size: 14;
}

.quines-cancons{
    -fx-font-family: "Open Sans";
    -fx-font-size: 14;
    -fx-text-fill: #fff;
    -fx-font-weight: bold;
}

.yellow-text{
    -fx-text-fill: -fx-yellow;
}

.ct-afegir-quina{
    -fx-background-color: -fx-primary-color;
    -fx-background-radius: 6px;
}
