@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'Open Sans Bold';
    src: url('fonts/OpenSans-Bold.ttf');
}

* {
    -fx-fons: #21242B;
    -fx-fons2: #2C2F36;
    -fx-gris: #4A4C52;
    -fx-yellow: #EFFF5A;
	-fx-primary-color: #0F7B8A;
	-fx-primary-color-hover: #e8e28c;
	-fx-secondary-color: #EFFF5A;
    -fx-primary-background-color: #202124;
    -fx-secondary-background-color: #21252b;
	-fx-focus-color: -fx-secondary-color;
    -fx-gray: #444444;
}

.main{
    -fx-background-color: -fx-primary-background-color;
}

.container{
    -fx-background-color: -fx-fons2;
    -fx-background-radius: 6px;
}

.sub-container{
    -fx-background-color: -fx-gris;
    -fx-background-radius: 6px;
}

.title-main{
    -fx-font-family: "Open Sans";
    -fx-font-size: 36px;
    -fx-text-fill: #fff;
    -fx-font-weight: bold ;
}

.text-regular{
    -fx-font-family: "Open Sans";
    -fx-text-fill: #fff;
    -fx-font-size: 14;
}

.title-secondary{
    -fx-font-size: 20px;
    -fx-text-fill: #fff;
    -fx-font-weight: bold ;
}

.text-main{
    -fx-font-size: 15px;
    -fx-text-fill: #fff;
}

.text-scondary{
    -fx-font-size: 14px;
    -fx-text-fill: #c5c5c5;
}

.text-link{
    -fx-text-fill: -fx-primary-color;
}

.text-link:hover{
    -fx-text-style: underline;
}

.bt-main, .bt-sec, .bt-text{
    -fx-font-family: "Open Sans";
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-text-fill: #fff;
}

.bt-main{
    -fx-background-color: -fx-primary-color;
    -fx-min-width: 75;
}

.bt-sec{
    -fx-background-color: -fx-gris;
    -fx-min-width: 75;
}

.scroll-pane{
	-fx-background-color: transparent;
 }

.scroll-pane > .viewport {
	-fx-background-color: transparent;
 }

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.scroll-bar:vertical .track{
	 -fx-background-color: transparent;
	 -fx-border-color: transparent;
	 -fx-background-radius: 0em;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: -fx-gray;
    -fx-background-radius: 5em;
}

.scroll-bar:horizontal .thumb {
    -fx-background-color: -fx-gray;
    -fx-background-radius: 5em;
}


.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.text-field{
    -fx-background-color: #00000030;
    -fx-border-color: -fx-gray;
    -fx-border-width: 0 0 2 0;
    -fx-text-fill: #fff;
    -fx-font-size: 20px;
}

.text-field:focused{
    -fx-border-color: -fx-primary-color;
	-fx-effect: dropshadow(three-pass-box, #0F7B8A43 , 35, 0, 0, 0);
}

.text-field:hover{
    -fx-background-color: #1d1d1d30;
}

.button-primary{
    -fx-background-color: -fx-primary-background-color;
    -fx-background-radius: 15px;
    -fx-background-insets: 2px;
    -fx-border-color: -fx-secondary-color;
    -fx-border-width: 5px;
    -fx-border-radius: 15px;
    -fx-text-fill: #fff;
    -fx-font-size: 30px;
}

.button-primary:hover{
    -fx-border-color: -fx-primary-color;
	-fx-effect: dropshadow(three-pass-box, #0F7B8A66 , 35, 0, 0, 0);
}

.button-secondary{
    -fx-background-color: -fx-primary-background-color;
    -fx-background-radius: 15px;
    -fx-background-insets: 2px;
    -fx-border-color: rgb(169, 12, 12);
    -fx-border-width: 5px;
    -fx-border-radius: 15px;
    -fx-text-fill: #fff;
}

.button-secondary:hover{
    -fx-background-color: rgb(169, 12, 12);
	-fx-effect: dropshadow(three-pass-box, #a90c0c66 , 35, 0, 0, 0);
}

.scrollbar-item{
    -fx-min-width: 465px;
    -fx-padding: 5px;
}

.scrollbar-item:hover{
    -fx-text-fill: -fx-primary-color;
}

.hover-effect:hover{
	-fx-effect: dropshadow(three-pass-box, #0F7B8A66 , 35, 0, 0, 0);
}

.info-container{
    -fx-background-color: #00000066;
}

.progress-indicator{
    -fx-progress-color: -fx-primary-color;
}